nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
  }
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    }

nav li {
    margin-right: 10px;
    }

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    }

.active {
    background-color: #BD2F2F;
    color: #FFFFFF;
    border-radius: 5px;
    }      

.authed-user {
    display: flex;
    align-items: center;
    }

.nav-welcome {
    margin-right: 10px;
    color:white;
    background-color: green;
    }

.nav-logout {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    }

